<div *ngIf="isLoggedIn;else loginTmpl">
  <p class="has">
    HAS-Ticket
  </p>
  <br/>

  <form name="addTicket" class='addTicket'>
    <md-input-container>
      <input mdInput placeholder="HAS Number" name="has-ticket" value="HAS-" [(ngModel)]="hasVal" >
    </md-input-container>
    <br/>
    <md-input-container class="fullwidth">
      <input mdInput placeholder="Summary" name="summary" value="" [(ngModel)]="hasSummary" >
    </md-input-container>
    <br/><br/>
 <div class="form-group">
    <section class="example-section">
    <!--<md-select placeholder="Environment" [(ngModel)]="selectedValue" name="env">
      <md-option *ngFor="let env of environments" [value]="env.value">
        {{env.viewValue}}
      </md-option>
    </md-select>-->
    <p class='stream'>
    Stream17
  </p>
    <md-input-container class="fullwidth">
      <input mdInput placeholder="PR" value="" name="streampr" [(ngModel)]="strmPrLink" >
    </md-input-container>
    <md-input-container class="fullwidth">
      <input mdInput placeholder="Branch" name="streambranch" value="" [(ngModel)]="strmPrBranch" >
    </md-input-container>
    
    <br/>

    
 
    <span class="">QA certified</span>

    
      <md-slide-toggle class="example-margin" name="qa-cert" [(ngModel)]="qastatus" [ngModelOptions]="{standalone: true}">
        Pass
      </md-slide-toggle><br/>
      <p> PR Status: 
      <md-radio-group class="example-radio-group" name="qa-val" [(ngModel)]="prStatus">
      <md-radio-button class="radio" *ngFor="let stat of status" [value]="stat">
        {{stat}}
      </md-radio-button>
    </md-radio-group>
    </p>
    </section>
   </div>

<!--=================================================-->
<div class="form-group">
    <section class="example-section">
    <p class='stream'>
    Release
  </p>
    <md-input-container class="fullwidth">
      <input mdInput placeholder="PR" name="releasepr" value="" [(ngModel)]="rlsPrLink" >
    </md-input-container>
    <md-input-container class="fullwidth">
      <input mdInput placeholder="Branch" name="releasebranch" value="" [(ngModel)]="rlsPrBranch" >
    </md-input-container>
    
    <br/>

    
 
    <span class="">QA certified</span>

    
      <md-slide-toggle class="example-margin" name="qa-cert" [(ngModel)]="qastatus" [ngModelOptions]="{standalone: true}">
        Pass
      </md-slide-toggle><br/>
      <p> PR Status: 
      <md-radio-group class="example-radio-group" name="qa-val" [(ngModel)]="prStatus">
      <md-radio-button class="radio" *ngFor="let stat of status" [value]="stat">
        {{stat}}
      </md-radio-button>
    </md-radio-group>
    </p>
    </section>
   </div>

   <!-- ========================== -->
  <div class="form-group">
    <section class="example-section">
    <p class='stream'>
    Master
  </p>
    <md-input-container class="fullwidth">
      <input mdInput placeholder="PR" value="" name="masterpr" [(ngModel)]="masterPrLink" >
    </md-input-container>
    <md-input-container class="fullwidth">
      <input mdInput placeholder="Branch" value="" name="masterbranch" [(ngModel)]="masterPrBranch" >
    </md-input-container>
    
    <br/>

    
 
    <span class="">QA certified</span>

    
      <md-slide-toggle class="example-margin" name="qa-cert" [(ngModel)]="qastatus" >
        Pass
      </md-slide-toggle><br/>
      <p> PR Status: 
      <md-radio-group class="example-radio-group" name="qa-val" [(ngModel)]="prStatus">
      <md-radio-button class="radio" *ngFor="let stat of status" [value]="stat">
        {{stat}}
      </md-radio-button>
    </md-radio-group>
    </p>
    </section>
   </div>

    <p>
      <md-input-container class="fullwidth">
        <textarea mdInput placeholder="Additional Note" name="addnote" [(ngModel)]="addNote" ></textarea>
      </md-input-container>

    </p>

<button md-raised-button>Add Ticket</button>
  </form>

</div>
<ng-template #loginTmpl> Hey! Please login to access this page.</ng-template>