<md-toolbar color="primary">
  <i class="material-icons">code</i>&nbsp;<span>Code Tracker</span>
  <span class="example-spacer"></span>
    <button md-button [routerLink]="['/welcome']">Home <!--<md-icon>menu</md-icon>--></button>
    <button md-button (click)="login()" *ngIf="!(user | async)?.uid">Google Signin</button>
    <button md-button [routerLink]="['/dashboard']" *ngIf="(user | async)?.uid">Dashboard</button>
    <button md-button (click)="navigateToNotes()" *ngIf="(user | async)?.uid">Notes</button>
    <button md-button (click)="logout()" [routerLink]="['/welcome']" *ngIf="(user | async)?.uid">Logout</button>
</md-toolbar>
<h1>
  <md-card>
    <md-card-title>{{title}}</md-card-title>
  </md-card>
  
</h1>
<div class='container'>
    <router-outlet></router-outlet> 
</div>